<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/xadmin.css">
        <style>
          /* 防止下拉框的下拉列表被隐藏---必须设置--- */ 
          .layui-table-cell{
            overflow: visible !important; 
          }

          /* 使得下拉框与单元格刚好合适 */       
          td .layui-form-select{
            border: none !important;
            margin-top: -10px;
            margin-left: -15px;
            margin-right: -15px;
          } 
          .x-admin-sm .layui-input, .x-admin-sm .layui-select, .x-admin-sm .layui-textarea {
              height: 38px;
          }
          /* 允许表格换行 */
          .layui-table-cell{
            height: auto;
            text-overflow: inherit;
            white-space: normal;
          }
        </style>
        <script src="/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/js/xadmin.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-inline layui-show-xs-block">
                                    <input class="layui-input"  autocomplete="off" placeholder="按课程名称查询" type="text" name="cname">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input class="layui-input"  autocomplete="off" placeholder="按课程老师查询" type="text" name="teacher">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <select name="grade">
                                            <option value=""></option>
                                            <option value="1">初一</option>
                                            <option value="2">初二</option>
                                            <option value="3">初三</option>
                                            <option value="4">高一</option>
                                            <option value="5">高二</option>
                                            <option value="6">高三</option>
                                    </select>
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-body ">
                            <table id="courses" lay-filter="courses"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <script type="text/html" id="toolbarDemo">
          <div class="layui-card-header">
              <button class="layui-btn layui-btn-danger" lay-event="delCheckData"><i class="layui-icon"></i>批量删除</button>
              <button class="layui-btn" onclick="xadmin.open('添加用户','/admin/course/add',800,600)"><i class="layui-icon"></i>添加</button>
              <button class="layui-btn" onclick="xadmin.open('导入Excel表','/admin/course/import',600,400)"><i class="layui-icon"></i>导入</button>
          </div>
        </script>
        <script type="text/html" id="gradeTpl">
          <input type="checkbox" name="allow" value="{{ d.cid }}" title="初一" lay-filter="allowDemo" {{ d.allow.indexOf(1) == -1 ? "" : "checked" }}>
          <input type="checkbox" name="allow" value="{{ d.cid }}" title="初二" lay-filter="allowDemo" {{ d.allow.indexOf(2) == -1 ? "" : "checked" }}>
          <input type="checkbox" name="allow" value="{{ d.cid }}" title="初三" lay-filter="allowDemo" {{ d.allow.indexOf(3) == -1 ? "" : "checked" }}>
          <input type="checkbox" name="allow" value="{{ d.cid }}" title="高一" lay-filter="allowDemo" {{ d.allow.indexOf(4) == -1 ? "" : "checked" }}>
          <input type="checkbox" name="allow" value="{{ d.cid }}" title="高二" lay-filter="allowDemo" {{ d.allow.indexOf(5) == -1 ? "" : "checked" }}>
          <input type="checkbox" name="allow" value="{{ d.cid }}" title="高三" lay-filter="allowDemo" {{ d.allow.indexOf(6) == -1 ? "" : "checked" }}>
        </script>
        <script type="text/html" id="dayTpl">
          <select name="dayofweek" lay-filter="dayDemo" >
                  <option value="{{d.cid}}" {{ d.dayofweek == 2 ? 'selected' : '' }}>星期二</option>
                  <option value="{{d.cid}}" {{ d.dayofweek == 3 ? 'selected' : '' }}>星期三</option>
                  <option value="{{d.cid}}" {{ d.dayofweek == 5 ? 'selected' : '' }}>星期五</option>
          </select>
        </script>
    </body>
    <script>
      layui.use(['table','form'], function(){
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        table.render({
          elem: "#courses",
          url: '/course/',
          id: 'courseTable',
          height: 700,
          page: true, //开启分页
          toolbar: '#toolbarDemo',
          defaultToolbar: ['filter'],
          cols: [[ //表头
            {type: 'numbers'},
            {type: 'checkbox'},
            {field: 'cid' , title: '课程编号' , sort: true,width: 100},
            {field: 'cname' , title: '课程名称' , edit: 'text',width: 150},
            {field: 'teacher' , title: '课程老师' , edit: 'text',width: 100},
            {field: 'number' , title: '剩余人数' , edit: 'text' , width: 100},
            {field: 'allow' , title: '允许年级' , width: 500 , templet: '#gradeTpl' , unresize: false},
            {field: 'dayofweek' , title: '上课日期' , width: 100 , templet: '#dayTpl' , unresize: false},
            {field: 'briefintro' , title: '课程简介' ,minWidth:200 , edit: 'text'},
          ]],
          limit: 10, //每页显示条数
          even: true, //隔行背景
        });

        //监听工具栏事件
        table.on('toolbar(courses)' , function(obj){
          var checkStatus = table.checkStatus(obj.config.id);
          if(obj.event == 'delCheckData'){
            var data = [];
            if(checkStatus.data.length == 0){
              layer.msg("没有数据要删除",{icon:5,time:1000});
              return;
            }
            $.each(checkStatus.data,function(i,v){
              data.push(v.cid);
            })
            $.ajax({
              url: "/course",
              type: "delete",
              data: {data:data},
              dataType: "json",
              traditional: true,
              success: function(result){
                if(result.status == -1){
                    layer.msg(result.msg,{icon:5,time:1000});
                  } else if(result.status == 1){
                    layer.msg(result.msg,{icon:6,time:1000});
                    table.reload('courseTable',{
                      
                    });
                  }
              }
            })
          }
        });
        //监听单元格编辑
        table.on('edit(courses)',function(obj){
          var cid = obj.data.cid , key = obj.field , value = obj.value;
          $.post({
            url: "/course/" + cid,
            data: {
              key : key,
              value : value
            },
            success: (result) => {
              if(result.status == -1){
                  layer.msg(result.msg,{icon:5,time:1000});
                } else if(result.status == 1){
                  layer.msg(result.msg,{icon:6,time:1000});
                } else if(result.status == -2){
                  layer.msg(result.msg,{icon:5,time:1000});
                }
            }
          })
          layer.msg('[ID: '+ data.cid +'] ' + field + ' 字段更改为：'+ value);
        });
        //监听班级操作
        form.on('checkbox(allowDemo)', function(obj){
          var grades = {"初一": 1 , "初二": 2 , "初三": 3 , "高一": 4 , "高二": 5 , "高三": 6 };
          var cid = this.value , key = this.name , value = obj.elem.checked ? grades[obj.elem.title] : -grades[obj.elem.title];
          $.post({
            url: "/course/" + cid,
            data: {
              key : key,
              value : value
            },
            success: (result) => {
              if(result.status == -1){
                layer.msg(result.msg,{icon:1,time:1000});
              } else if(result.status == 1){
                layer.msg(result.msg,{icon:6,time:1000});
              } else if(result.status == -2){
                layer.msg(result.msg,{icon:5,time:1000});
              }
            }
          })
        });
        //监听日期操作
        form.on('select(dayDemo)', function(obj){
          var grades = {"星期二": 2 , "星期三": 3 , "星期五": 5 }
          var cid = obj.value , key = obj.elem.name;
          var value = grades[this.innerText];
          $.post({
            url: "/course/" + cid,
            data: {
              key : key,
              value : value
            },
            success: (result) => {
              if(result.status == -1){
                layer.msg(result.msg,{icon:1,time:1000});
              } else if(result.status == 1){
                layer.msg(result.msg,{icon:6,time:1000});
              } else if(result.status == -2){
                layer.msg(result.msg,{icon:5,time:1000});
              }
            }
          })
        });
        //监听查询操作
        form.on('submit(search)',function(data){
          table.reload('courseTable',{
            url: '/course',
            where: {
              cname: data.field.cname,
              teacher: data.field.teacher,
              grade: data.field.grade
            }
          });
          return false;
        })
      });

    </script>
</html>