<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/xadmin.css">
        <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="sid" class="layui-form-label">
                            <span class="x-red">*</span>学号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="sid" name="sid" required="" lay-verify="sid" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>将会成为学生唯一的登入名</div></div>
                    <div class="layui-form-item">
                        <label for="smane" class="layui-form-label">
                            <span class="x-red">*</span>姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" id="sname" name="sname" required="" lay-verify="sname" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_pass" name="password" required="" lay-verify="password" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">6到16个字符</div></div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                          <input type="radio" name="sex" value="0" title="男" checked>
                          <input type="radio" name="sex" value="1" title="女">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="admissionDate" class="layui-form-label">
                            <span class="x-red">*</span>入学时间</label>
                        <div class="layui-input-inline">
                            <input type="text" id="admissionDate" name="admissionDate" required=""  autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">年级</label>
                        <div class="layui-input-block">
                          <select name="clazz" lay-verify="required">
                            <option value="初一">初一</option>
                            <option value="初二">初二</option>
                            <option value="初三">初三</option>
                            <option value="高一">高一</option>
                            <option value="高二">高二</option>
                            <option value="高三">高三</option>
                          </select>
                        </div>
                      </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
                </form>
            </div>
        </div>
        <script>
        layui.use(['form', 'layer','jquery','laydate'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#admissionDate'
                });

                //自定义验证规则
                form.verify({
                    sid: function(value) {
                        console.log("sid:" + value);
                        var msg = "";
                        $.get({
                            url: "/admin/student/" + value,
                            async: false,
                            success: function(result){
                                console.log("同步ajax");
                                console.log("result:" + result.result);
                                if(result.result){
                                    msg = "学号已存在";
                                }
                            }
                        });
                        return msg;
                    },
                    pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function(value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(add)',
                function(data) {
                    console.log("提交数据");
                    //发异步，把数据提交给php
                    $.post({
                        url: "/admin/student",
                        data: data.field,
                        success: function(){
                            layer.alert("增加成功", {
                                icon: 6
                            },
                            function() {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新 
                                xadmin.father_reload();
                            });
                        }
                    });
                    return false;
                });

            });
        </script>
    </body>

</html>